<h1>Sua tarefa foi processada!</h1>
<p>Sua tarefa foi processada com os seguintes detalhes:</p>
<ul>
  <li><strong>Título:</strong> <%= @task.title %></li>
  <li><strong>URL:</strong> <%= @task.url %></li>
  <li><strong>Status:</strong> <%= @task.status %></li>
  <li><strong>Descrição:</strong> <%= @task.description %></li>
</ul>
<p>Obrigado!</p>
